/* Set big button dimensions */
ul.pa-icons li.pa-search-icon { width: 59px; height: 18px; }
ul.pa-icons li.pa-stats-icon { width: 59px; height: 18px; }
ul.pa-icons li.pa-toplist-icon { width: 59px; height: 18px; }
ul.pa-icons li.pa-upload-icon { width: 59px; height: 18px; }
ul.pa-icons li.pa-viewall-icon { width: 59px; height: 18px; }
ul.pa-icons li.pa-moderator-icon { width: 42px; height: 20px; }

ul.pa-icons li.pa-download-icon { width: 82px; height: 25px; }
ul.pa-icons li.pa-email-icon { width: 82px; height: 25px; }
ul.pa-icons li.pa-edit-icon	{ width: 59px; height: 18px; }
ul.pa-icons li.pa-rate-icon { width: 82px; height: 25px; }

ul.pa-UserCp-icon, li.pa-UserCp-icon { width: 59px; height: 18px; }
ul.pa-UserUpload1-icon, li.pa-UserUpload1-icon { width: 82px; height: 18px; }

ul.pa-icons li.pa-comment-post-icon { width: 42px; height: 20px; }
ul.pa-icons li.pa-comment-edit-icon { width: 42px; height: 20px; }

ul.pa-mini-dl-icon, li.pa-mini-dl-icon { width: 13px; height: 13px; }

.pa-search-icon, .pa-search-icon a { background-image: url("icon_pa_search.gif"); }
.pa-stats-icon, .pa-stats-icon a { background-image: url("icon_pa_stats.gif"); }
.pa-toplist-icon, .pa-toplist-icon a { background-image: url("icon_pa_toplist.gif"); }
.pa-upload-icon, .pa-upload-icon a { background-image: url("icon_pa_upload.gif"); }
.pa-viewall-icon, .pa-viewall-icon a { background-image: url("icon_pa_viewall.gif"); }
.pa-moderator-icon, .pa-moderator-icon a { background-image: url("icon_pa_moderator.gif"); }

.pa-download-icon, .pa-download-icon a { background-image: url("icon_pa_download.gif"); }
.pa-email-icon, .pa-email-icon a { background-image: url("icon_pa_email.gif"); }
.pa-edit-icon, .pa-edit-icon a { background-image: url("icon_pa_edit.gif"); }

.pa-rate-icon, .pa-rate-icon a { background-image: url("icon_pa_rate.gif"); }

.pa-UserCp-icon, .pa-UserCp-icon a { background-image: url("icon_UserCp.gif"); }
.pa-UserUpload1-icon, .pa-UserUpload1-icon a { background-image: url("icon_UserUpload1.gif"); }

.pa-comment-post-icon, .pa-comment-post-icon a { background-image: url("icon_pa_post_comment.gif"); }
.pa-comment-edit-icon, .pa-comment-edit-icon a { background-image: url("icon_pa_comment_edit.gif"); }


.pa-mini-dl-icon, .pa-mini-dl-icon a { background-image: url("icon_mini_dl.gif"); }

